header{
    background-color: rgb(212, 207, 207);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.navigation a{
    --my-color:red;
    color: rgb(67, 67, 232);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 10px;
}
.navigation a:hover{
    color: rgb(5, 5, 61);
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(https://5.imimg.com/data5/WQ/PI/GLADMIN-53522917/software-programing-courses.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: aliceblue;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(13, 13, 247);
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.projects{
    background-image: linear-gradient(blue,black);
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.section h2{
    color:white
}